* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: radial-gradient(farthest-corner at 50% 60%, rgb(200, 200, 200) 20%, rgb(240, 240, 240));
  background-attachment: fixed;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#container {
  padding: 2rem;

  svg {
    max-width: 100%;
  }
  
  h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 3rem;
  }
  
  h2 {
    text-align: center;
    font-size: 1.2rem;
  }
}

footer {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 0rem;
}