* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: radial-gradient(farthest-corner at 50% 60%, rgb(200, 200, 200) 20%, rgb(240, 240, 240));
  background-attachment: fixed;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1.5rem 1rem;
}
  
#title {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

#description {
  text-align: center;
  font-size: 1.2rem;
}

main {
  padding: 1rem;

  svg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

footer {
  text-align: center;
  font-size: 0.85rem;
  margin: 1.5rem 1rem;
}